* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar container */
.navbar {
    background-color: #222;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px 40px;
}

.nav {
    list-style: none;
    display: flex;
    
}

#logo{
    color: #ff4c4c;
}

.nav li {
    margin-left: 25px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.nav a:hover {
    color: #ff4c4c;
}
